@import url('https://fonts.googleapis.com/css?family=Roboto:300');
/* Generals */
* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

img {
 display: block;
 max-width: 100%;
}

.container{
 width: 90%;
 margin: auto;
}

body {
  letter-spacing: 1px;
 font-family: 'roboto', sans-serif;
 background: #fff;
}

h1, h2, h3 {
 font-weight: bold;
}

p {
 font-weight: ;
  font-size: 18px;
}

/* HEADER */
.header {
 width: 50%;
 top:0;
 left:0;
 margin: auto;
 margin-bottom: 25px;
}
 
.header .container {
 text-align: center;
 j
}

.logo{
 height: 40px;
 margin: auto;
 margin-top: 30px;
}


/*********** Form **********/

form {
 position: relative;
 padding:10px;
 font-size: 18px;
 border: solid 1px rgba(0,0,0,0.1);
 border-radius: 10px;
}

form, .warning-message-container{
 width: 280px;
 margin: auto;
}

.warning-message-container{
 padding: 20px;
 border:  solid 1px rgba(0,0,0,0.1);
 border-radius: 10px;

}
.warning-message{
  margin-bottom: 25px;
 display: none;
}

.warning-message p{
 font-size: 13px;
 margin-bottom: 5px;
}

.form-class {
 border: none;
 border: solid 1px rgba(0,0,0,0.1);
 border-radius: 20px;
 height: 30px;
}

.form-container{
 width: 100%;
 margin: auto;
}

.form-group{
 display: flex;
 flex-direction: column;
 padding: 10px;
}

.form-group label {
 margin-bottom: 5px;
 font-family: 'roboto:300', sans-serif;
 font-size: 13px;
}
.btn{
 margin-top: 20px;
 background-color: rgba(0,0,0,0.4);
 color: white;
 font-size: 15px;
 
}


/*--- warning message ---*/

.warning-message img {
 height: 40px;
 float: left;
 margin: 0px 20px 60px 0px;
 
}


.warning-form {
 margin: 5px;
 font-size: 12px;
 color: red;
 font-family: 'roboto:300', sans-serif;
}



/*********** Footer **********/


.footer {
 padding: 15px;
 color: black;
 text-align: center;


}

.footer img {
 padding: 10px;
 height: 70px;
 margin: 10px;
}

.footer-social {
 display: flex;
 justify-content: center;
 margin-bottom: 20px;

}

/*********** Form ************/

form {
color: black; 
}

/*********** RESPONSIVE ************/



@media (min-width:1000px){
 
 .container {
  width: 90%;
 }
}

@media (min-width:1360px){
 
}


